[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/bai (rstg00po54)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bai (rstg00po54)
	label-Verified = -1..+1 group user/bai (rstg00po54)
	push = group user/bai (rstg00po54)
	read = group user/bai (rstg00po54)
	rebase = group user/bai (rstg00po54)
	removeReviewer = group user/bai (rstg00po54)
	submit = group user/bai (rstg00po54)
[access "refs/heads/*"]
	create = group user/bai (rstg00po54)
	push = +force group user/bai (rstg00po54)
	pushMerge = group user/bai (rstg00po54)
	read = group user/bai (rstg00po54)
[access "refs/tags/*"]
	push = group user/bai (rstg00po54)
	push = +force group user/bai (rstg00po54)
